
<div class="tab-pane" id="digital-order-form" style="display: none;">
	<form action="/action_page.php"
  			style="padding-left: 250px;padding-top: 25px;width: 400px; display: block;">
  	<fieldset>
    			<legend>Order information:</legend>
          <br>

          First Name:<br>
              <input class="input-box" id="order-first-name" type="text" name="OrderFirstName" value=" ">
          <br><br>
          Last Name:<br>
              <input class="input-box" id="order-last-name" type="text" name="OrderLastName" value=" ">
          <br><br>
          Email Id:<br>
              <input class="input-box" id="order-email-id" type="text" name="OrderEmailId" value=" " style="width: 300px;" >
          <br><br>
          Employ position:<br>
              <input class="input-box" id="order-employ-position" type="text" name="OrderEmployPosition" value=" ">
          <br><br>
          Department:<br>
              <input class="input-box" id="order-department" type="text" name="OrderDepartment" value=" " style="width: 250px;" >
          <br><br>

          Item-Name:<br>
              <input class="input-box" id="order-item-name" type="text" name="OrderItemName" value=" "  style="width: 350px;">
          <br><br>
          Item-Detail:<br>
              <textarea id="order-item-detail" name="OrderItemDetail" rows="5" cols="20">
              </textarea>
          <br><br>
          Item-Quentities:<br>
              <input class="input-box" id="order-item-quentities" min="1" type="number" name="OrderItemQuentities" value=" ">
          <br><br>
          From-Where:<br>
              <input class="input-box" id="order-from-where" type="text" name="OrderFromWhere" value=" " style="width: 350px;" >
          <br><br>
          Time-Period:<br>
              <input class="input-box" id="order-time-period" type="text" name="OrderTimePeriod" value=" " style="width: 250px;" >
          <br><br>
          Use-Reason:<br>
              <textarea id="order-use-reason" name="OrderUserReason" rows="5" cols="20">
              </textarea>
          <br><br>

          <input id="submit-new-order-bt" type="button" value="Submit">
  	</fieldset>
	</form>
</div>

<div id="NewOrderItemErrorDialog" class="flora" title="Order Item Error"  hidden="hidden">
      <label id="order-person-detail-error-dialogtext"
             style="text-align: center; color: brown; font-size: larger;">
						Please, enter all the information regrading to the new order.
			</label><br>

</div>






